<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>341793197828-gii5rq2g1vf6kjr2fdthstivvol3kjic.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.341793197828-gii5rq2g1vf6kjr2fdthstivvol3kjic</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
